#contact {
  background-color: $color-white;
}

.contact-header {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  color: $color-cream;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-black;
  input {
    margin-bottom: 30px;
    border-radius: 5px;
  }

  button {
    margin-top: 20px;
    padding: 10px;
    background-color: $color-cream;
    color: $color-white;
    border-radius: 3px;
  }
}
