.header-wrapper {
  height: 80px;
  background: $color-black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav {
  a {
    text-decoration: none;
    color: $color-white;
    margin-right: 30px;

    font-size: 24px;
  }
}

.logo {
  margin-left: 50px;
  letter-spacing: 5px;

  h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 14px;
    letter-spacing: 2px;
  }
}

@media (max-width: 768px) {
  .header-wrapper {
    display: block;
    text-align: center;
    height: 110px;
  }

  .logo {
    margin-left: 0;
  }

  .main-nav {
    margin: 20px 0;
  }

  .main-title {
    height: 80%;
  }
  .main-nav {
    a {
      font-size: 18px;
      margin-right: 10px;
    }
  }
}
