.header-wrapper {
  height: 80px;
  background: $color-black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav {
  a {
    text-decoration: none;
    color: $color-white;
    margin-right: 30px;
    font-size: $a-font-size;
  }
}

.logo {
  margin-left: 50px;
  letter-spacing: 5px;

  p:nth-of-type(1) {
    font-size: $h2-font-size;
    font-weight: bold;
  }
  p {
    font-size: 14px;
    letter-spacing: 2px;
  }
}

@media (max-width: $medium) {
  .header-wrapper {
    text-align: center;
  }

  .main-nav a {
    font-size: $a-font-size * 0.8;
    margin-right: 20px;
  }
}

@media (max-width: $small) {
  .header-wrapper {
    display: block;
  }
  .logo {
    margin-left: 0;
  }

  .main-nav {
    margin: 25px 0;
  }

  .main-nav a {
    margin-right: 10px;
  }
}
