.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 800px;
}

#hero {
  background: url('../../images/background.png') no-repeat center center/cover;
  color: $color-cream;
}

.hero-title {
  margin-top: 30px;
  height: 100%;
  width: 100%;

  font-weight: bold;
  font-size: $h1-font-size;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    letter-spacing: 4px;
  }
  p:nth-of-type(1) {
    margin-right: 25%;
  }

  p:nth-of-type(2) {
    margin-left: 25%;
  }
}

.hero-title::after {
  content: '';
  margin-top: 20px;
  border-top: 3px solid $color-cream;
  width: 20%;
  margin-left: 70px;
}

.hero-discover {
  margin-bottom: 30px;
  text-align: center;
  color: $color-white;
  p {
    margin-bottom: 20px;
    letter-spacing: 2px;
  }
  i {
    font-size: $p-font-size;
  }
}

@media (max-width: $medium) {
  .hero-title {
    font-size: $h2-font-size;

    p:nth-of-type(1) {
      margin-right: 35%;
    }

    p:nth-of-type(2) {
      margin-left: 15%;
    }
  }
}

@media (max-width: $small) {
  .hero-title {
    margin-right: 50px;
    font-size: $h3-font-size * 0.8;

    p:nth-of-type(1) {
      margin-right: 25%;
    }

    p:nth-of-type(2) {
      margin-left: 25%;
    }
  }
}
