.homepage-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 800px;
}

section#home {
  background: url('../../images/background.png') no-repeat center center/cover;
  color: $color-cream;
}

.main-title {
  margin-top: 30px;
  height: 100%;
  width: 700px;

  font-weight: bold;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    letter-spacing: 4px;
  }
  p#first {
    margin-right: 25%;
  }

  p#second {
    margin-left: 25%;
  }
}

.discover {
  margin-bottom: 30px;
  text-align: center;

  i {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .main-title {
    font-size: 30px;

    p#first {
      margin-right: 15%;
    }

    p#second {
      margin-left: 15%;
    }
  }
}
