article.product {
  display: flex;
  padding: 10px 30px;
}

.product-text,
.product-img {
  flex: 1;
  flex-shrink: 1;
}

// every other article has switched order
article:nth-child(even) {
  .product-text {
    order: 1;
    padding-left: 40px;
  }

  .border {
    margin-left: 25px;
  }
}

.products-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// section background and color, main title PRODUCTS
section#products {
  margin-top: 20px;
  background: $color-white;
  color: $color-black;

  .title-wrapper {
    border-bottom: 4px solid $color-cream;
    width: 80%;

    margin-bottom: 70px;
  }

  h2 {
    text-align: center;
    padding: 30px 0;
    font-size: 46px;
    color: $color-cream;
    font-weight: 700;
    letter-spacing: 15px;
  }
}

// product
.product-text {
  // title
  h3 {
    text-align: start;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 38px;
  }

  .description {
    display: flex;
    margin: 40px 0;
    p {
      flex: 1;
      padding-right: 20px;
    }

    .border {
      width: 150px;
      border-top: 3px solid $color-cream;
      margin-top: 15px;
      margin-right: 25px;
    }
  }
}

.roasting,
.intensity {
  margin: 20px;
  letter-spacing: 3px;

  span {
    margin-left: 6px;
    color: $color-cream;
  }
}

// image
.product-img img {
  width: 100%;
  -webkit-box-shadow: 0px 0px 43px -6px rgba(153, 153, 153, 1);
  -moz-box-shadow: 0px 0px 43px -6px rgba(153, 153, 153, 1);
  box-shadow: 0px 0px 43px -6px rgba(153, 153, 153, 1);
}

@media (max-width: $medium) {
  .border {
    display: none;
  }

  .product-img {
    align-self: center;
  }

  .product-text h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: $h3-font-size * 0.8;
  }

  .description p {
    font-size: $p-font-size * 0.6;
  }

  .roasting,
  .intensity {
    margin: 10px;
    letter-spacing: 2px;
    font-size: 12px;

    span {
      margin-left: 6px;
      color: $color-cream;
    }
  }
}

@media (max-width: $small) {
  .product-text h3 {
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: $h3-font-size * 0.5;
  }

  .roasting,
  .intensity {
    margin: 2px;
    letter-spacing: 2px;
    font-size: 12px;
  }
}
