* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background: $color-black;
  color: $color-white;
  font-size: 16px;
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
