.header-wrapper {
  height: 10vh;
  background: $color-black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav {
  a {
    text-decoration: none;
    color: $color-gray;
    margin-right: 30px;
  }
}

.logo {
  margin-left: 50px;
  letter-spacing: 5px;

  h1 {
    font-size: 30px;
    font-weight: bold;
  }
  p {
    font-size: 14px;
    letter-spacing: 2px;
  }
}
